*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#navbar{
  background-color: #e3edf7;
}

.container{
  width: 100%;
  min-height: 60vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0;
}


/* Column Text */

.col-text{
  position: relative;
  flex-basis: 40%;
  margin-left: 50px;
}

.col-text h2{
  font-size: 22px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.col-text h3{
  font-size: 25px;
  color: #707070;
  font-weight: 100;
  margin: 0 0 45px;
  font-family: 'Source Sans Pro', sans-serif;
}

.col-text h1{
  font-size: 54px;
  font-family: 'Libre Baskerville', serif;
}

.btn{
  width: 190px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(to right, #fb5283, #ff3527);
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  transition: width 0.5s;

}

.btn:hover{
  width: 195px;
}


.col-text::before{
  content: '';
  width: 10px;
  height: 160px;
  background: linear-gradient(#ff469f, #ff6062);
  position: absolute;
  left: -30px;
  top: 26px;
}


/* Column Logo */

.col-logo{
position: relative;
flex-basis: 60%;
display: flex;
align-items: center;
}

.logo-img{
  width: 40%;
  margin-left: 30%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.4),
              -6px -6px 10px -1px rgba(255, 255, 255, 0.2);
  border-radius:100%;
}

.color-box{
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(#ff54a2, #ff575a);
  border-radius: 20px 0 0 20px;
  height: 100%;
  width: 70%;
  z-index: -1;
  transform: translateX(150px);

}

.quotes p{
  color: #fff;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 30px 30px;
}






/* socialmedia section */
#socialmedia{
  background-color: #e3edf7;
}

#socialmedia h2{
  font-family: sans-serif;
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 4px;
  padding: 30px 0;
  color: #555;
  text-align: center;
}

.social{
  display: flex;
  justify-content: center;
  background: #e3edf7;
}

#socialmedia a{
  display: flex;
  background: #e3edf7;
  height: 75px;
  width: 75px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0 40px 50px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.4),
              -6px -6px 10px -1px rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0,0,0,0);
  transition: transform 0.5s;
}

a i{
  font-size: 40px;
}

.fa-facebook{
  color: #3b5998;
}
.fa-instagram{
  color: #f14843;
}
.fa-youtube{
  color: #f00;
}
.fa-envelope{
  color: #16a596;
}

#socialmedia p{
  font-family: sans-serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 10px 0 40px;
  color: #555;
  text-align: center;
  line-height: 1.8;
}



@media (max-width: 1000px){

  #navbar{
    height: 100px;
  }

  .color-box{
    width: 90%;
    z-index: -1;
    transform: translateX(150px);
  }

  .logo-img{
    width: 60%;
    margin: 20px 20px;
  }

  .quotes p{
    color: #fff;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 50px 10px;
  }

.row{
    flex-direction: column-reverse;
    margin: 50px 0;
  }

.col-logo{
    flex-basis: 100%;
    margin-bottom: 50px;
  }


/* Column Text   */
.container{
  width: 100%;
  min-height: 60vh;
  padding-left: 0%;

}

  .col-text{
    position: relative;
    flex-basis: 100%;
    margin-left: 10px;
  }

  .col-text h2{
    font-size: 32px;
    margin: 50px 0 30px;
  }

  .col-text h3{
    font-size: 32px;
    margin: 0 0 65px;
  }

  .col-text h1{
    font-size: 100px;
  }


  .container{
    min-height: 70vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
  }

  .btn{
    width: 250px;
    padding: 15px 10px;
    font-size: 30px;
  }

  .btn:hover{
    width: 260px;
  }

  .col-text::before{
    width: 10px;
    height: 290px;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -30px;
    top: 62px;
  }


#socialmedia h2{
  font-size: 40px;
  letter-spacing: 4px;
  padding: 60px 0;
}

#socialmedia a{
  height: 110px;
  width: 110px;
  border-radius: 8px;
  align-items: center;
  margin: 0 50px 150px;
}

a i{
  font-size: 65px;
}


#socialmedia p{

  font-size: 20px;
  padding: 10px 10 50px;
  line-height: 1.2;
}

}
